
<div class="template-container">
    <div class="view-box">
        1
    </div>
    <div class="information">
        <h3 class="information-title">Lorem ipsum doic.</h3>
        <ul class="information-option-list">
            <li class="option-item">Адрес <b>12</b></li>
            <li class="option-item">Колл-во этажей <b>12</b></li>
            <li class="option-item">Колл-во квартир <b>12</b></li>
        </ul>
        <div class="information-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, laboriosam a unde o
        </div>
    </div>

</div>
