<div class="template-container">
    <div class="view-box outset-neomo">
        <svg class="view-svg" width="1280" height="720" viewBox="0 0 1280 720" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

            <image xlink:href="assets/img/malinki-jk.jpg" />
            <path class="build-item" id="Vector-4" data-adress="Чайківська 3" data-floors="4" data-flats="60" data-descriptions="28 квартир доступні для продажу" d="M811 540L817.5 554L1086.5 514.5L1181 371.5L1175 361L1187 342L1049.5 196L963 203C962.333 200.667 960.3 196 957.5 196C954.7 196 884.667 205 850 209.5V216.5L765.5 227L747 382L802 540H811Z" />
            <path class="build-item" id="Vector-2" data-adress="Чайківська 5" data-floors="4" data-flats="60" data-descriptions="17 квартир доступні для продажу" d="M192 162L235 75L292 70.5V62L338 60V50H369L371 60L420.5 56.5V60L472.5 56.5L497.5 195V289.5H493.5V298L472.5 300.5L461.5 258L366.5 266V261.5L362.5 258L242.5 269L192 162Z" />
            <a href="/building.html" target="_blank">
            <path class="build-item" id="Vector-1" data-adress="Чайківська 7" data-floors="4" data-flats="60" data-descriptions="30 квартир доступні для продажу" d="M504.5 590.5H498V609L171 659L34.5 530.5L38 517L19 495L120 296.5L226 283L232 273L364.5 261V269L462 261L498 412.5L504.5 590.5Z" />
             </a>
            <path class="build-item sold" id="Vector-3" data-adress="Чайківська 9" data-floors="4" data-flats="60" data-descriptions="Всі квартири продани" d="M955.5 115L929.5 198L847 208L851 216.5L760.5 226L757 267L720.5 270H715.5V263H709L679 182L683.5 40L727.5 36.5V31H772L773 19H800.5V26.5L840.5 23.5L845 26.5L886.5 24.5L955.5 97L952 112L955.5 115Z" />
    
        </svg>

    </div>
    <div class="information outset-neomo">
        <h3 class="information-title">Інформація про дім</h3>
        <ul class="information-option-list">
            <li class="option-item">Адреca:  <b id="option-adress"></b></li>
            <li class="option-item">Кіль-ть поверхів: <b id="option-floors"></b></li>
            <li class="option-item">Кіль-ть квартир: <b id="option-flats"></b></li>
        </ul>
        <div id="information-description">
          
        </div>
    </div>

</div>
